* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-wrapper {
    padding: 50px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.grid {
    display: grid;

}

.easy {
    grid-template-columns: repeat(10, 1fr);
}

.medium {
    grid-template-columns: repeat(9, 1fr);
}

.hard {
    grid-template-columns: repeat(7, 1fr);
}




.cell {
    aspect-ratio: 1 / 1;
    border: 1px solid black;
    padding: 20px;
    color: black;
    cursor: pointer;

}

.cell.bg-lightblue {
    background-color: lightblue;
}

.button {
    border-radius: 20px;
    padding: 0px 15px;
    background-color: lightgray;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    cursor: pointer;

}

.bg-white {
    background-color: white;
}

.initial-bar {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.final-bar {
    padding: 15px;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(110, 248, 170)
}

.central-part {
    flex-grow: 1;
}

.input {
    border-radius: 20px;
    padding: 0px 15px;
    background-color: lightgray;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    cursor: pointer;
}